$card-width: 400px;
$card-height: 600px;

.wrapper {
    width: $card-width;
    height: $card-height;
    
    display: table-cell;
    position: relative;

    vertical-align: middle;

    .card {
        width: 90%;
        height: 90%;
    
        border-radius: 3%;
    
        background-size: contain;
        overflow: hidden;
    
        position: relative;

        margin: auto;
    
        &:hover, &.focused {
            transition: all, 200ms;

            width: 100%;
            height: 100%;
    
            border: 3px solid white;
        }
    
        .footer {
            position: absolute;
            bottom: 0;
    
            background: linear-gradient(0deg, rgba(0,0,0,1) 40%, rgba(0,0,0,0.4) 100%);
    
            padding: 0px 8px;
    
            .title {
                font-size: 24px;
                text-transform: uppercase;
    
                margin-bottom: 8px;
            }
    
            .description {
                font-size: 16px;
    
                margin-bottom: 10px;
            }
        }
    }
}

:export {
    cardWidth: $card-width;
    cardHeight: $card-height;
}